::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #2e2f34;
}
::-webkit-scrollbar-thumb {
    background: #1d1e22;
}

.main-container {
    background-color: #1d1e22;
    height: 100vh;
}

.form-container {
    background-color: #242529;
    border-radius: 15px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
}

.input-container {
    background-color: #1d1e22;
    border-radius: 10px;
    padding: 0 10px 10px;
}

.input-label {
    font-size: 1em;
    margin-left: 10px;
    margin-bottom: 0;
}

.input-field {
    border: none !important;
    border-radius: 5px !important;
    width: 300px !important;
}

.input-error {
    font-size: 14px;
    color: #fd6060 !important;
}

.input-success {
    font-size: 14px;
    color: #97fd74 !important;
}

.input-field:focus {
    box-shadow: none!important;
}