<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>❌</title>
    <title th:replace="fragments/bootstrap :: header"></title>
</head>
<body>
    <h1 class="display-1 text-center">Something went wrong</h1>
    <img style="margin: auto" src="https://assets.stickpng.com/thumbs/580b57fbd9996e24bc43bbde.png" class="img-fluid" alt="Responsive image">
</body>
</html>