<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/settingsStyle.css}" rel="stylesheet"/>
    <title>Login to Dropsi</title>
    <title th:replace="fragments/bootstrap :: header"></title>
</head>
<body>
<div class="container-fluid p-0 d-flex flex-row justify-content-center main-container">
    <div class="d-flex flex-column justify-content-center">
        <div class="form-container p-3">

            <div class="d-flex flex-row justify-content-center mb-3">
                <img th:src="@{/img/logo.png}" width="300px" alt="logo"/>
            </div>

            <form th:action="@{/login}" method="POST" class="text-white">
                <div class="form-group input-container">
                    <label for="inputUsername" class="input-label">Username</label>
                    <input type="text" class="form-control input-field" id="inputUsername" required name="username">
                </div>

                <div class="form-group input-container">
                    <label for="inputPassword" class="input-label">Password</label>
                    <input type="password" class="form-control input-field" id="inputPassword" required name="password">
                </div>

                <button type="submit" class="btn btn-success btn-block">Log in!</button>

                <div class="d-flex flex-row mt-4 justify-content-center input-container">
                    <a class="text-white pt-2" th:href="@{/sign_up}">Don't have an Account? <strong>Sign up</strong></a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>