<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title th:replace="fragments/bootstrap :: header"></title>
    <title>Login to Dropsi</title>
</head>
<body>
<div class="container-fluid h-100">
    <div class="flex-row d-flex justify-content-center h-100">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 flex-column d-flex mt-auto mb-auto">
            <div class="flex-row f-flex justify-content-center">

                <div class="p-3 bgdark r-lg bx-shdw">

                    <div class="d-flex flex-row justify-content-center mb-3">
                        <img th:src="@{/img/logo.png}" class="img-fluid" alt="logo"/>
                    </div>

                    <form th:action="@{/login}" th:method="POST" class="text-white">

                        <div class="form-group p-2 bgdarker r-md">
                            <label class="m-0 ml-1 mb-1 h6" for="inputUsername">Username</label>
                            <input type="text" class="form-control input-text" id="inputUsername" required name="username">
                        </div>

                        <div class="form-group p-2 bgdarker r-md">
                            <label class="m-0 ml-1 mb-1 h6" for="inputPassword" >Password</label>
                            <input type="password" class="form-control input-text" id="inputPassword" required name="password">
                        </div>

                        <button type="submit" class="btn btn-success btn-block font-weight-bold">Log in!</button>

                        <div th:if="${usernameOrPasswordIsWrong}" class="mt-2 text-center text-danger">
                            Wrong Username or Password!
                        </div>

                        <div class="bgdarker r-md mt-4 p-2 text-center">
                            <a class="text-white" th:href="@{/register}">Don't have an Account? <strong>Sign up</strong></a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>