<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/mainStyle.css}" rel="stylesheet"/>
    <title>Main</title>
    <title th:replace="fragments/bootstrap :: header"></title>
</head>
<body style="background-color: #1d1e22">

<div class="container-fluid p-0" style="height: 100vh">
    <div class="row col-12 h-100 m-0 p-0">
        <!-- navbar -->
        <nav class="navbar navbar-side navbar-dark d-flex flex-column h-100">
            <div class="col">
                <a class="navbar-brand" href="#">
                    <img src="https://i.ibb.co/D7YTyP8/logo.png" class="logo" alt="logo">
                </a>

                <ul class="navbar-nav">
                    <li class="nav-item active float-left">
                        <a class="nav-link" href="#">My Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">My Shares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Shared Files</a>
                    </li>
                </ul>
            </div>

            <a class="btn btn-block btn-danger" th:href="@{/logout}" role="button">Logout</a>

            <hr/>
        </nav>

        <div class="h-100 col p-0 d-flex flex-column">
            <div class="flex-column justify-content-center top-bar">
                <i class='material-icons text-white top-bar-icon' style="float: right">settings</i>
                <a th:href="@{/logout}">
                    <i  class='material-icons text-white top-bar-icon ml-3' style="float: left">keyboard_backspace</i>
                </a>
                <div th:text="${currentFolder.name}" class="text-white top-bar-text"></div>
            </div>

            <div class="flex-column justify-content-center flex-grow-1 overflow-auto pl-4 pr-4 pt-3" style="background-color: #2e2f34; border-top-left-radius: 20px;">

                <div class="col mt-2 d-flex file-view-container" th:each="fileSystemObject: ${currentFolder.contents}">
                    <i th:if="${fileSystemObject.isFolder()}" class='material-icons file-icon'>folder</i>
                    <i th:unless="${fileSystemObject.isFolder()}" class='material-icons file-icon'>description</i>

                    <a th:if="${fileSystemObject.isFolder()}" th:href="@{/folder/{folderId}(folderId = ${fileSystemObject.id})}" class="flex-grow-1 file-name stretched-link" th:text="${fileSystemObject.name}"></a>
                    <a th:unless="${fileSystemObject.isFolder()}" href="#" class="flex-grow-1 file-name stretched-link" th:text="${fileSystemObject.name}"></a>

                    <div class=" d-flex flex-column pr-5">
                        <div class="flex-grow-1 file-info" th:text="${fileSystemObject.getPrettyFileSize()}"></div>
                        <div class="flex-grow-1 file-info text-gray file-date" th:text="${fileSystemObject.getPrettyCreationDate()}"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>