<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title th:replace="fragments/bootstrap :: header"></title>
    <title>Shared</title>
</head>
<body>

<div class="container-fluid text-white">

    <!-- header -->
    <div class="row bgdarker main-header">
        <div class="col-6 col-md-3 col-lg-2 d-flex h-100 p-0">
            <a th:href="@{/home}" class="flex-row d-flex">
                <img th:src="@{/img/logo.png}" class="img-fluid mh-100 m-md-auto pt-1 pb-1 pl-1" alt="logo"/>
            </a>
        </div>

        <div class="col-6 col-md-9 col-lg-10 d-flex justify-content-end p-0">
            <div class="flex-column d-flex justify-content-center mr-4">
                <a th:href="@{/settings}" class="text-white">
                    <i class="material-icons f-xl">account_circle</i>
                </a>
            </div>
        </div>
    </div>

    <div class="row flex-column flex-md-row main-body overflow-auto">

        <!-- nav bar -->
        <div class="col-md-3 col-lg-2 bgdarker flex-shrink-1">
            <nav class="navbar navbar-expand">
                <div class="row d-flex justify-content-around collapse navbar-collapse p-0 text-nowrap">
                    <div class="col-3 col-md-12 p-1 mb-2 text-center bgdark r-md">
                        <a class="text-white-50 stretched-link" th:href="@{/home}">My Files</a>
                    </div>
                    <div class="col-5 col-md-12 p-1 mb-2 text-center r-md bgdark">
                        <a class="text-white stretched-link font-weight-bold" href="#">Shares</a>
                    </div>
                    <div class="col-3 col-md-12 p-1 mb-2 text-center bgdark r-md">
                        <a class="text-white-50 stretched-link" href="#">Shared</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-md-9 col-lg-10 bgmedium radius-topleft p-3 flex-grow-1">
            <div th:each="share : ${shares}" class="flex-column r-sm p-2 d-flex bgdark mb-3">

                <div class="flex-row d-flex ml-2 mb-2">
                    <img th:src="@{'data:image/png;base64,' + ${share.key.getAvatarBytes()}}" class="rounded-circle shadow-lg" style="height: 2.5em; width: 2.5em;">

                    <div class="flex-column d-flex justify-content-center ml-3">
                        <h4 class="m-0 p-0" th:text="${share.key.name}"></h4>
                    </div>

                </div>

                <div class="flex-column d-flex r-sm pt-1 pl-1 pr-1 bgdark">

                    <div th:each="permission : ${share.value}" class="flex-row d-flex bgdarker r-sm mb-1 p-2">

                        <div class="flex-column d-flex flex-grow-1 justify-content-center pl-1"
                             style="transform: rotate(0);">
                            <div class="flex-row d-flex r-sm">
                                <i th:if="${permission.shared.isFolder()}" class="material-icons">folder</i>
                                <i th:unless="${permission.shared.isFolder()}" class="material-icons">description</i>
                                <a href="" class="text-white m-0 ml-3 text-truncate f-md stretched-link" th:text="${permission.shared.name}"></a>
                            </div>
                        </div>

                        <!-- download -->
                        <div class="flex-column d-flex justify-content-center">
                            <a th:href="@{/permissions/received/fileSystemObject(permissionId = ${permission.id})}" class="text-white bgdarkhov r-sm">
                                <i class="material-icons p-1 f-lg">download</i>
                            </a>
                        </div>

                        <!-- cancel -->
                        <div class="flex-column d-flex justify-content-center">

                            <form th:action="@{/permissions/received(permissionId=${permission.id})}" th:method="DELETE">
                                <button type="submit" class="text-white bgdarkhov p-0 r-sm border-0 bg-transparent">
                                    <i class="material-icons p-1 f-lg">close</i>
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>