<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title th:replace="fragments/bootstrap :: header"></title>
    <title>⚙ Settings</title>
</head>
<body>
<div class="container-fluid h-100">

    <div class="flex-row d-flex justify-content-center h-100">

        <div class="toast" style="position: absolute; top: 20px; z-index: 1000">
            <div class="toast-body">
                Copied to clipboard
            </div>
        </div>

        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 flex-column d-flex justify-content-center">
            <div class="flex-row f-flex justify-content-center">

                <div class="p-3 bgdark r-lg bx-shdw">
                    <form th:action="@{/settings}" th:object="${account}" class="text-white" method="POST"
                          enctype="multipart/form-data">

                        <div class="d-flex flex-row justify-content-between ml-2">
                            <p class="h1">ACCOUNT</p>

                            <a th:href="@{/home}">
                                <i class='material-icons text-white top-bar-icon'>close</i>
                            </a>
                        </div>

                        <hr/>

                        <p class="h5 ml-2">Change Account-Info</p>

                        <div class="form-group p-2 bgdarker r-md">
                            <label class="m-0 ml-1 mb-1 h6" for="nameInput">Name</label>
                            <input type="text" class="form-control input-text" id="nameInput" th:text="*{name}"
                                   th:field="*{name}" th:placeholder="${name}">

                            <div th:if="${triedToChangeUsername}">
                                <div th:if="${changedUsername}" class="ml-2 mt-1 txt-success">
                                    Username was successfully changed.
                                </div>

                                <div th:unless="${changedUsername}" class="ml-2 mt-1 txt-warn">
                                    Failed. Username already exists
                                </div>
                            </div>
                        </div>

                        <div class="form-group p-2 bgdarker r-md">
                            <label class="m-0 ml-1 mb-1 h6" for="emailInput">E-Mail</label>
                            <input type="email" class="form-control input-text" id="emailInput" th:text="*{email}"
                                   th:field="*{email}" th:placeholder="${email}">

                            <div th:if="${triedToChangeEmail}">
                                <div th:if="${changedEmail}" class="ml-2 mt-1 txt-success">
                                    Email was successfully changed.
                                </div>

                                <div th:unless="${changedEmail}" class="ml-2 mt-1 txt-warn">
                                    Failed. Email already exists
                                </div>
                            </div>
                        </div>

                        <div class="form-group  p-2 bgdarker r-md">
                            <label class="m-0 ml-1 mb-1 h6" for="avatarInput">Choose an Avatar</label>
                            <input type="file" th:name="avatarImage" class="form-control-file" id="avatarInput"
                                   accept="image/x-png,image/gif,image/jpeg">
                        </div>

                        <div class="form-group p-2 bgdarker r-md">
                            <label class="m-0 ml-1 mb-1 h6" for="passwordInput">Password</label>
                            <input class="form-control input-text" readonly onfocus="this.removeAttribute('readonly');"
                                   type="password" placeholder="To be implemented" disabled th:field="*{password}"
                                   id="passwordInput">
                        </div>

                        <div class="row">
                            <div class="col-6 p-0 d-flex flex-column justify-content-center">
                                <a class="btn btn-sm btn-danger mr-1 ml-3" data-toggle="modal"
                                   data-target="#confirmationModal">Delete</a>
                            </div>

                            <div class="col-6 p-0 d-flex flex-column justify-content-center">
                                <a class="btn btn-sm btn-danger mr-3 ml-1" th:href="@{/logout}">Logout</a>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade bgdarktrans" id="confirmationModal" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content bgdark">
                                    <div class="modal-header border-0">
                                        <h3 class="modal-title ml-2" id="exampleModalLabel">WHOA THERE</h3>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <i class='material-icons text-white'>close</i>
                                        </button>
                                    </div>
                                    <div class="modal-body bgdarker r-md ml-3 mr-3">
                                        Once you delete your account there is no going back.
                                        <br>
                                        Make sure you really want to do this.
                                    </div>
                                    <div class="modal-footer border-0 d-flex flex-row justify-content-around mt-2"
                                         role="group">
                                        <a class="btn btn-danger col-5" th:href="@{/deleteAccount}">Delete</a>
                                        <button type="button" class="btn btn-secondary col-5" data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <p class="h5 ml-2">Retrogram</p>

                        <div class="form-group p-2 bgdarker r-md">
                            <label class="m-0 ml-1 mb-1 h6" for="retrogramInput">Token</label>
                            <input type="text" class="form-control input-text" id="retrogramInput"
                                   placeholder="To be implemented" disabled th:field="*{secretKey}">
                        </div>

                        <button type="button" onclick="copy()" class="btn btn-warning btn-sm btn-block">Copy you secret
                            Key
                        </button>

                        <!-- script to copy secretKey into clipboard -->
                        <script th:inline="javascript">
                            /*<![CDATA[*/

                            let text = /*[[${secretKey}]]*/ 'default';

                            function copy() {
                                let textarea = document.createElement("textarea");
                                textarea.value = text;
                                document.body.appendChild(textarea);
                                textarea.select();
                                document.execCommand("copy");
                                document.body.removeChild(textarea);
                                showToast();
                            }

                            function showToast() {
                                $('.toast').toast('show');
                            }

                            /*]]>*/
                        </script>

                        <hr/>

                        <button type="submit" class="btn btn-block btn-success">Save</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>